table {
    border-collapse: collapse;
    float: left;
}

td, th {
    /*border: 1px solid black;*/
    padding: 5px 10px;
}
th {
    color: transparent;
}
#coffees {
    font-weight: bold;
}

#roast {
    display: none;
}

p {
    display: inline-block;
    font-weight: normal;
    color: dimgrey;
    text-indent: 10px;
}
h3 {
    display: inline;
}

input {
    color: white;
    background-color: seagreen;
    border: none;
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
}

body {
    font-family: 'Stardos Stencil', cursive;
    font-style: normal;
    font-weight: bold;
}

.pb-3 {
    margin: 0;
}



