table {
    border-collapse: collapse;
    float: left;
}

td, th {
    /*border: 1px solid black;*/
    padding: 5px 10px;
}
th {
    color: transparent;
}
#coffees {
    font-weight: bold;
}

#roast {
    display: none;
}

p {
    display: inline-block;
    font-weight: normal;
    color: dimgrey;
    text-indent: 10px;
}
h3 {
    display: inline;
}
input {
    color: white;
    background-color: dodgerblue;
    border: none;
}

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}

.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}

.bg3 {
    animation-duration:5s;
}


h1 {
    font-family:monospace;
}

@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
}

h2, ul {
    font-size: 50px;
    text-align: center;
}

*:link {
    color: red;
}
/* visited link (:visited) */
*:visited {
    color: black;
}
/* mouse hover link (:hover) */
*:hover {
    color: blue;
}
/* active/selected link (:active) */
*:active {
    color: green;
}

