table {
    border-collapse: collapse;
    float: left;
}

td, th {
    /*border: 1px solid black;*/
    padding: 5px 10px;
}
th {
    color: transparent;
}
#coffees {
    font-weight: bold;
}

#roast {
    display: none;
}

p {
    display: inline-block;
    font-weight: normal;
    color: dimgrey;
    text-indent: 10px;
}
h3 {
    display: inline;
}
input {
    color: white;
    background-color: dodgerblue;
    border: none;
}